/* .dark-lightblue-gradient{
  background: rgb(0,53,80);
  background: linear-gradient(43deg, rgba(0,53,80,1) 0%, rgba(0,58,86,1) 37%, rgba(0,66,96,1) 61%, rgba(0,77,109,1) 76%, rgba(0,92,128,1) 87%, rgba(0,105,144,1) 96%, rgba(0,119,162,1) 100%); 
} */

button {
  /* background-color: cyan; */
  padding: 5px;
  /* box-shadow: 1px 1px 1px gray; */
}